# ===============================
# Dependency directories
# ===============================
node_modules/

# ===============================
# Local environment variables
# ===============================
.env
data/
db/

# ===============================
# Log files
# ===============================
*.log

# ===============================
# macOS system files
# ===============================
.DS_Store

# ===============================
# IDE / Editor folders
# ===============================
.vscode/
